{% extends "../base.html" %}
{% load static %}
{% block title %}
Акции РЕМИ
{% endblock %}
{% block content %}

<main>
  <div class="album py-5 bg-light">
        {% for sale in sales %}
        <div class="container">
        <div class="pb-3 py-3 h5">{{sale.name|title}}</div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for product in sale.saleproduct_set.all %}
            {% if product.product.price_sale != None %}
                <div class="col">
                    <div class="card shadow-sm">
                    <img class="img-fluid" src="{{ product.product.image.url }}">

                        <div class="card-body">
                            <p class="card-text">
                                <a class="text-dark text-decoration-none" href="{{ product.product.get_absolute_url }}">{{ product.product.title }}</a>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <del class="text-muted">{{product.product.price}}₽</del>
                                <span class="badge bg-danger">{{product.product.price_sale}}₽</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}  
        </div>
        </div>  
        {% endfor %}
  </div>


</main>

{% endblock %}